@page
@model WebApp.Pages.Game.Rules

@{ ViewData["Title"] = "Rules"; }
<h1>TIC-TAC-TWO rules (RAZOR EDITION)</h1>

Select the place on the board to place a new gamepiece.<br>
To move a piece, select the piece you want to move and then select a new spot for that piece.<br>
To move the grid, Press button Move Grid and then select new upper left corner for the grid.<br>
Other TIC-TAC-TWO rules can be found here : <a href="https://www.geekyhobbies.com/tic-tac-two-board-game-review/">Original Rules</a>